<h1>Request Info</h1>

<h2>Session Variables</h2>
<% # TODO:
     # show session store configuration (class and options)
     # total session size
     # session variable actions - unset, set(string), new(key, string)
     # Cookie header string size, cookie count
     # cookie actions (client and/or server) - clear, update, new(with paths, secure, etc.)
     # Do secure cookies get accessed differently?
   %>
<table class="table table-condensed">
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>
  <% @session_hash.each do |key, value| %>
    <tr>
      <td><%= key %></td>
      <td><%= value %></td>
    </tr>
  <% end %>
</table>

<h2>Cookies</h2>
<table class="table table-condensed">
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>
  <% @cookies_hash.each do |key, value| %>
    <tr>
      <td><%= key %></td>
      <td><%= value %></td>
    </tr>
  <% end %>
</table>
