<!DOCTYPE html>
<html>
<head>
  <title>Tuttle</title>
  <%= stylesheet_link_tag    "tuttle/application", :media => "all" %>
  <%= javascript_include_tag "tuttle/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
